<a href="https://colab.research.google.com/github/Berk3459/A-B-testing-for-retail-marketing-campaign/blob/main/richest_man.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:

df = pd.read_csv("/content/Billionaire.csv")
df.tail(7)

,Name,NetWorth,Country,Source,Rank,Age,Industry
2748,Yao Hsiao Tung,$1 B,Singapore,Manufacturing,2674,81.0,Manufacturing
2749,Yu De-Chao,$1 B,United States,pharmaceuticals,2674,57.0,Healthcare
2750,Daniel Yong Zhang,$1 B,China,e-commerce,2674,49.0,Technology
2751,Zhang Yuqiang,$1 B,China,Fiberglass,2674,65.0,Manufacturing
2752,Zhao Meiguang,$1 B,China,gold mining,2674,58.0,Metals & Mining
2753,Zhong Naixiong,$1 B,China,conglomerate,2674,58.0,Diversified
2754,Zhou Wei family,$1 B,China,Software,2674,54.0,Technology

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2755 entries, 0 to 2754
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      2755 non-null   object
 1   NetWorth  2755 non-null   object
 2   Country   2755 non-null   object
 3   Source    2755 non-null   object
 4   Rank      2755 non-null   int64
 5   Age       2676 non-null   float64
 6   Industry  2755 non-null   object
dtypes: float64(1), int64(1), object(5)
memory usage: 150.8+ KB

In [ ]:
df["NetWorth"]= df['NetWorth'].str.removeprefix("$")

In [ ]:
df["NetWorth"]= df['NetWorth'].str.removesuffix("B")

In [ ]:
df["NetWorth"]= df['NetWorth'].astype(np.float64)

In [ ]:
df.head(5)

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,Technology
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,150.0,France,LVMH,3,72.0,Fashion & Retail
3,Bill Gates,124.0,United States,Microsoft,4,65.0,Technology
4,Mark Zuckerberg,97.0,United States,Facebook,5,36.0,Technology

In [ ]:
df.loc[df["NetWorth"] == 91.5]

         Name  NetWorth        Country  Source  Rank   Age    Industry
7  Larry Page      91.5  United States  Google     8  48.0  Technology

In [ ]:
df["Country"].value_counts().max()

724

In [ ]:
df.groupby(["Country"])["NetWorth"].sum()

Country
Algeria              4.8
Argentina           15.3
Australia          181.5
Austria             62.7
Belgium             12.6
                   ...
United Kingdom     213.9
United States     4398.4
Venezuela            3.2
Vietnam             16.7
Zimbabwe             1.5
Name: NetWorth, Length: 70, dtype: float64

In [ ]:
df.head(3)

,Name,NetWorth,Country,Source,Rank,Age,Industry
0,Jeff Bezos,177.0,United States,Amazon,1,57.0,Technology
1,Elon Musk,151.0,United States,"Tesla, SpaceX",2,49.0,Automotive
2,Bernard Arnault & family,150.0,France,LVMH,3,72.0,Fashion & Retail